<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="box-shadow: .2px 1px #888888;">
    <div class="col-xl-2">
        <img src="../assets/image/logo.png" class="rounded" alt="Cinque Terre" routerLink="/home" routerLinkActive="linkActive"  id="logo" style=" width: 50%; height: 50%; cursor: pointer;" >
    </div>
  
      <div class="col-xl-2" id="navRight">
          </div>      
</nav>
    

<div class="col-xl-11.5" id="main1">
        <div class="col-xl-11" id="main2">

          <h1 style="font-family:cocogoose; color:rgb(226, 105, 19)">Login</h1>
          <p style="font-family:calibri;">Don't have account yet? 
              <a style="font-family:cocogoose; color:rgb(241, 146, 78); font-size: small;" routerLink="/signup" routerLinkActive="linkActive">Create it here</a>
          </p>
          <br>
          
    <form class="was-validated" (submit)="doLogin()" #loginForm="ngForm" >

        <div class="form-group">
            <i class="material-icons prefix">account_circle</i> &nbsp;
            <label class="label1">Username:</label>
            <input type="text"  class="form-control form-control-rounded" placeholder="Your registered username" name="username" [(ngModel)]="username" required> &nbsp;
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        
       <!-- <div class="input-group mb-3">
            <input type="text" class="form-control form-control-rounded" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
                <span class="input-group-text logoUsername">@</span>
              </div>
          </div> -->

        <div class="form-group">
            <i class="material-icons prefix">vpn_key</i> &nbsp;
            <label class="label1">Password:</label>
            <input type="password" class="form-control form-control-rounded" placeholder="Your password" name="password" [(ngModel)]="password" required> &nbsp; &nbsp; &nbsp;
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="col-xl-12" style="margin-top: 5%; text-align: right;">
            <button type="submit" class="btn btn-success form-control-rounded" style="width: 40%;" id="buttons">LOGIN &nbsp;
                 <i class="tiny material-icons right" >input</i>
              </button>
        </div>
        </form>
    </div>
</div>






<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>