
a{
    color: white;
}

#buttons{
    background-color:#f56b22;
    border-color: #f56b22;
}
#buttons:hover{
    background-color:white;
    border-color: #f56b22;
    color:#f56b22 ;
}
body{
    background-color: #F5F5F5;
    font-family: inherit;
}
#main1{
    margin: 2% 2% 2% 2%;
    padding: 3% 3% 0% 3%;
    background-color:white;
    
}
#main2{
    background-color:white;
    margin: 1% 4% 2% 4%;
    padding: 1% 30% 3% 30%;
}


#samp{
    text-align: center;
    background-color:white;
    padding: 3%;
    border-bottom: 1.5px solid #DDDFE2;

}
#btnSignUp:hover{
    background-color:#f56b22;
    color: white;
}

#row1{
    background-color:white;
    padding: 2%;
}
.form-control{
    background-color: #F2F2F2;
}

#logo:hover{
    border: 4px solid #343A40;
}
#logindesign{
    background-color: teal;
}

.form-control-rounded{
    border-radius: 25px;
    border-color: #E7F0F6;
}
.form-control-rounded-search{
    border-radius: 25px;
    border-color: #E7F0F6;
}
.form-control-rounded{
    border-radius: 25px;
}

.form-control-rounded:hover{
    box-shadow: .5px 1px #888888;
}
.label1{
    font-family: cocogoose;
    color: #646F79;
}
html{
    overflow-y: scroll;
}
