
a{
    color: white;
}

#buttons{
    background-color:#f56b22;
    border-color: #f56b22;
}
#buttons:hover{
    background-color:white;
    border-color: #f56b22;
    color:#f56b22 ;
}
body{
    background-color: #F5F5F5;
    font-family: inherit;
}
#main1{
    margin: 2% 2% 2% 2%;
    padding: 3% 3% 1% 3%;
    background-color:white;
    
}
#main2{
    background-color:white;
    margin: 1% 4% 2% 4%;
    padding: 1% 1% 3% 1%;
}
#title{
    padding: 1%;
    color:#F38E58;
    border-bottom: 1.5px solid #DDDFE2;
    border-left: 1.5px solid #DDDFE2;
}

#image{
    width: 100%;
    height: 100%;
    border: 1px solid #DDDFE2;
}
#samp{
    text-align: center;
    background-color:white;
    padding: 3%;
    border-bottom: 1.5px solid #DDDFE2;

}
#btnSignUp:hover{
    background-color:#f56b22;
    color: white;
}

#row1{
    background-color:white;
    padding: 2%;
}
.form-control{
    background-color: #F2F2F2;
}

#logo:hover{
    border: 4px solid #343A40;
}
#logindesign{
    background-color: teal;
}

.form-control-rounded{
    border-radius: 25px;
    border-color: #E7F0F6;
}
.form-control-rounded-search{
    border-radius: 25px;
    border-color: #E7F0F6;
}
.form-control-rounded{
    border-radius: 25px;
}

.form-control-rounded:hover{
    box-shadow: .5px 1px #888888;
}
.label1{
    font-family: cocogoose;
    color: #646F79;
}

html{
    overflow-y: scroll;
}

#items{
    background-color:white;
    height: 400px;
    margin: 0% 4% 1% 4%;
    padding-bottom: 7%;
}

#items:hover{
    background-color: #F1F1F1;
}
#itemLabel{
    font-size: 90%;
    margin-left: 10%;
    text-transform: uppercase;
    text-align: left;
}

#itemLabel1{
    font-size: 100%;
    margin-left: 10%;
    color:#F38E58;
    text-align: left;
}
#stocks{
    font-size: 80%;
    text-align: right;
    padding-top:5% ; 
    color:#D71829;   
}
#items3{
    background-color:white;
    height: 400px;
    margin: 5% 4% 1% 4%;
    padding-bottom: 7%;
}
.table1{
    border:1px solid #DEE2E6;
    font-family: calibri;
}

#items3:hover{
    margin-top: 3%;
}
