<nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="box-shadow: .2px 1px #888888;">
        <div class="col-xl-2">
            <img src="../assets/image/logo.png" class="rounded" alt="Cinque Terre" routerLink="/cushome" routerLinkActive="linkActive"  id="logo" style=" width: 50%; height: 50%; cursor: pointer;" >
        </div>
      
        <div class="col-xl-8">
          <nav class="navbar navbar-expand-sm " >
              <form class="form-inline" action="/action_page.php">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-rounded-search" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append ">
                      <span class="input-group-text form-control-rounded-search" id="basic-addon2">Search</span>
                    </div>
                  </div>
                </form>
          </nav>
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Adidas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nike</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Vans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sketchers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sperry</a>
              </li>
      
            </ul>
          </div>
          <div class="col-xl-2" id="navRight">
              <ul class="navbar-nav" >
                  <li class="nav-item">username: </li>  
                  <li class="nav-item" id="logindesign">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#login">CART</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" routerLink="/home" routerLinkActive="linkActive" (click)="authGuardService.logoutUser()">LOG OUT</a>
                  </li>
              </ul>
              </div>      
   </nav>
        

<div class="col-xl-11.5" id="main1">
    <h4 id="title"> MOST POPULAR SHOES</h4>
    <div class="col-xl-11" id="main2">
      
      <div class="row" id="row1">
          <div class="col-xl-3" id="items">
              <img src="../assets/image/1.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons" >ADD TO CART</button>
                </div>
            </div>
          </div>
  
          <div class="col-xl-3" id="items">
              <img src="../assets/image/2.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons">ADD TO CART</button>
                </div>
            </div>
          </div>
  
          <div class="col-xl-3" id="items">
              <img src="../assets/image/n2.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons" >ADD TO CART</button>
                </div>
            </div>
          </div>
      </div>
    </div>
  
  
    <h4 id="title"> DAILY DISCOVER</h4>
    <div class="col-xl-11" id="main2">
      
      <div class="row">
          <div class="col-xl-3" id="items">
              <img src="../assets/image/s1.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons" >ADD TO CART</button>
                </div>
            </div>
          </div>
  
          <div class="col-xl-3" id="items">
              <img src="../assets/image/s2.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons">ADD TO CART</button>
                </div>
            </div>
          </div>
  
          <div class="col-xl-3" id="items">
              <img src="../assets/image/n1.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons">ADD TO CART</button>
                </div>
            </div>
          </div>
      
          <div class="col-xl-3" id="items">
              <img src="../assets/image/v1.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons">ADD TO CART</button>
                </div>
            </div>
          </div>
  
          <div class="col-xl-3" id="items">
              <img src="../assets/image/sp1.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons" >ADD TO CART</button>
                </div>
            </div>
          </div>
  
          <div class="col-xl-3" id="items">
              <img src="../assets/image/v2.jpg" class="img" alt="Cinque Terre" id="image">
            <div class="row">
                <div class="col-xl-6" id="samp">
                    <h6 id="itemLabel">NAME</h6>
                    <h6 id="itemLabel">PRICE</h6>
                </div>
                <div class="col-xl-6" id="samp">
                    <button type="button" class="btn btn-success" id="buttons" >ADD TO CART</button>
                </div>
            </div>
          </div>        
      </div>
    </div>
  
  
  
      <!-- Modal Login-->
      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog modal-lg">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <div class="modal-body">
                <div class="row">
                <div class="col-sm-4"></div>
                
                <div class="col-sm-4" style="padding-bottom: 10%; text-align: center;">
                    <img src="../assets/image/logo.png" class="rounded" alt="Cinque Terre" style=" width: 70%; height: 50%;" ><br/><br/>
                    
                    <form action="/action_page.php" class="was-validated">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="USERNAME" required> &nbsp;
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="PASSWORD"required> &nbsp; &nbsp; &nbsp;

                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div style="margin-top: 5%;">

                        <button type="button" class="btn btn-default" id="btnSignUp" routerLink="/signup" routerLinkActive="linkActive" data-dismiss="modal">SIGN UP</button> &nbsp;

                        <button type="submit" class="btn btn-success" id="buttons">LOGIN</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
          </div>  
        </div>
      </div>
  
  


  <script>
        // Disable form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>