<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="box-shadow: .2px 1px #888888;">
    <div class="col-xl-2">
        <img src="../assets/image/logo.png" class="rounded" alt="Cinque Terre" id="logo"
            style=" width: 50%; height: 50%;">
    </div>

    <div class="col-xl-8">
        <ul class="navbar-nav">
            <li class="nav-item">
                    <a class="nav-link"  routerLink="/products" routerLinkActive="linkActive" >Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/orderlist" routerLinkActive="linkActive" >Order List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/usermanagement" routerLinkActive="linkActive" style="color:rgb(241, 146, 78)">User Management</a>
            </li>

        </ul>
    </div>
    <div class="col-xl-2" id="navRight">
        <ul class="navbar-nav">
            <li class="nav-item" id="logindesign">
                <a class="nav-link" routerLink="/home" routerLinkActive="linkActive" (click)="authGuardService.logoutUser()">LOG OUT</a>
            </li>
            <li class="nav-item">
            </li>
        </ul>
    </div>
</nav>

<div class="col-xl-11.5" id="main1" style="padding:5%">
        <h1 style="font-family:cocogoose; color:rgb(226, 105, 19);
        border-bottom: 1.5px solid #DDDFE2;
        border-left: 1.5px solid #DDDFE2; padding: 1%;">List of all users</h1>
        <p style="font-family:calibri;">Welcome to shoepping Admin? 
            <a style="font-family:cocogoose; color:rgb(241, 146, 78); font-size: small;" routerLink="/signup" routerLinkActive="linkActive">Create it here</a>
        </p>
        <br>

    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10">
            <table class="table table-striped table1">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Birthday</th>
                        <th>Phone</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td>{{customer.username}}</td>
                        <td>{{customer.password}}</td>
                        <td>{{customer.cusfName}}</td>
                        <td>{{customer.cuslName}} </td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.birthday}} </td>
                        <td>{{customer.phone}} </td>
                        <td>
                            <i class="material-icons form-control-rounded" (click)="updateCustomer(customer._id)"  style="cursor:pointer; ">edit</i>
                        </td>
                        <td>
                            <i class="material-icons form-control-rounded" (click)="deleteCustomer(customer._id)" style="cursor:pointer;">remove_circle</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl-1">
        </div>
    </div>
</div>