.form-control-rounded{
    border-radius: 25px;
}

.form-control-rounded:hover{
    box-shadow: .5px 1px #888888;
}
.label1{
    font-family: cocogoose;
    color: #646F79;
}
.table1{
    border:1px solid #DEE2E6;
    font-family: calibri;
}
html{
    overflow-y: scroll;
}

.shadow:hover{
    width: 100px;
    height: 100px;
}
tbody{
    text-transform: uppercase;
}