<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="box-shadow: .2px 1px #888888;">
    <div class="col-xl-2">
        <img src="../assets/image/logo.png" class="rounded" alt="Cinque Terre" id="logo" style=" width: 50%; height: 50%;" >
    </div>
  
    <div class="col-xl-8">
      <ul class="navbar-nav">
          <li class="nav-item"  style="width:13%;">
            <a class="nav-link"  routerLink="/products" routerLinkActive="linkActive" style="color:rgb(241, 146, 78)">
              <i class="material-icons prefix"> star</i> 
              Products</a>
          </li>
          <li class="nav-item" style="width:13%;">
            
            <a class="nav-link" routerLink="/orderlist" routerLinkActive="linkActive" > 
              <i class="material-icons prefix"> business_center</i> 
              Order List</a>

          </li>
          <li class="nav-item" style="width:20%;">
            <a class="nav-link"  routerLink="/usermanagement" routerLinkActive="linkActive" >
              <i class="material-icons prefix">group</i> 
              User Management</a>
          </li>
  
        </ul>
      </div>
      <div class="col-xl-2" id="navRight">
          <ul class="navbar-nav" >
              <li class="nav-item" id="logindesign">
              <a class="nav-link" routerLink="/home" routerLinkActive="linkActive" (click)="authGuardService.logoutUser()">Logout
                <i class="material-icons prefix">exit_to_app</i> </a>

              </li>
              <li class="nav-item">
              </li>
          </ul>
          </div>   
    </nav>

    <div class="col-xl-11.5" id="main1" style="padding:5%">

            <h2 style="font-family:cocogoose; color:rgb(226, 105, 19);         border-bottom: 1.5px solid #DDDFE2;
            border-left: 1.5px solid #DDDFE2; padding: 1%;">Add or Update products</h2>
            <p style="font-family:calibri;">Welcome to shoepping Admin? 
                <a style="font-family:cocogoose; color:rgb(241, 146, 78); font-size: small;" routerLink="/signup" routerLinkActive="linkActive">Create it here</a>
            </p>
            <br> 

        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                    <form #validForm="ngForm" (submit)="addProduct()">
                            <i class="material-icons prefix">info_outline</i> &nbsp;
                            <label class="label1">Product Name:</label>
                             <input type="text"  placeholder="What the product name" name="name" [(ngModel)]="name"  class="form-control form-control-rounded" required > <br>
                            
                             <i class="material-icons prefix">local_offer</i> &nbsp;
                             <label class="label1">Product Brand:</label>
                             <input type="text" placeholder="What is the product brand" name="brand" [(ngModel)]="brand" class="form-control form-control-rounded" required> <br>
                             
                             <i class="material-icons prefix">monetization_on</i> &nbsp;
                             <label class="label1">Product Price:</label>              
                             <input type="number"  placeholder="How much is the cost of the product" name="price" [(ngModel)]="price" class="form-control form-control-rounded" required > <br>
                             
                             <i class="material-icons prefix">storage</i> &nbsp;
                             <label class="label1">No. of stocks:</label>
                             <input type="number" placeholder="How many stocks available " name="quantity" [(ngModel)]="quantity" class="form-control form-control-rounded" required > <br>
                             
                             <i class="material-icons prefix">photo_size_select_actual</i> &nbsp;
                             <label class="label1">Insert Image:</label> 
                      

  <!-- Progress Bar -->
 <!-- <div class="progress form-group" *ngIf="fileUploadService.percentDone">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
          [style.width.%]="fileUploadService.percentDone">
        </div>
      </div>
    
      // Image Preview 
      <div class="form-group">
        <div class="preview" *ngIf="preview && preview !== null">
          <img [src]="preview" [alt]="form.value.name">
        </div>
      </div>
    
      /// File Input 
      <div class="form-group">lgf
        <input type="file" (change)="uploadFile($event)">
      </div>
    
      /// Name 
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Name" formControlName="name">
      </div> -->
    
                             <input #file type="file" accept='image/*' (change)="preview(file.files)" name="image" [(ngModel)]="image" class="form-control-file" required />
                            <img [src]="imgURL" height="200" *ngIf="imgURL" name="i" [(ngModel)]="i"> <br> <br> 

                            <i class="material-icons prefix">description</i> &nbsp;
                            <label class="label1">Descripion:</label> 
                            <textarea class="form-control" rows="5" name="description" [(ngModel)]="description"></textarea> <br> 
                            
                             <input type="submit" class="btn btn-success form-control-rounded" style="width: 10%;"  id="send"><br><br><br>
                           </form>

                <h1 style="font-family:cocogoose; color:rgb(226, 105, 19)">List of all products</h1><br>
                <table class="table table-striped table1">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Image</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.name}}</td>
                            <td>{{product.brand}} </td>
                            <td>{{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td><img src="../../{{product.image}}" alt="123"></td>
                            <td>
                              <i class="material-icons form-control-rounded" (click)="updateProduct(product._id)"  style="cursor:pointer; ">edit</i>
                            </td>
                            <td>
                                <i class="material-icons form-control-rounded" (click)="deleteProduct(product._id)" style="cursor:pointer;">remove_circle</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xl-1">
            </div>
        </div>
    </div>

