<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="box-shadow: .2px 1px #888888;">
        <div class="col-xl-2">
            <img src="../assets/image/logo.png" class="rounded" alt="Cinque Terre" routerLink="/home" routerLinkActive="linkActive"  id="logo" style=" width: 50%; height: 50%; cursor: pointer;" >
        </div>
      
        <div class="col-xl-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" #name placeholder="search by name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="searchByName(name.value)">Button</button>
                </div>
              </div>

          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" style="cursor: pointer;" (click)="getProducts()">All Brand</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="searchAdidas()">Adidas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="searchNike()">Nike</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="searchVans()">Vans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="searchSketchers()">Sketchers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="searchSperry()">Sperry</a>
              </li>
      
            </ul>
          </div>
          <div class="col-xl-4">
              <ul class="navbar-nav" style="margin-left:40%" >
                  <li class="nav-item">
                  <a class="nav-link" routerLink="/login" routerLinkActive="linkActive">
                    Login &nbsp;
                    <i class="tiny material-icons right" >input</i>
                </a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" routerLink="/signup" routerLinkActive="linkActive">Sign up &nbsp;
                    <i class="tiny material-icons right" > add_circle_outline</i>
                </a>
                  </li>
              </ul>
              </div>     
   </nav>
        

<div class="col-xl-11.5" id="main1">
    <h4 id="title"> DAILY DISCOVER</h4>
    <div class="col-xl-11" id="main2">
      <div class="row">
          <div class="col-xl-3" id="items3"  *ngFor="let product of products">
              <img src="../assets/image/test.png" class="img" alt="Cinque Terre" id="image">
            <div class="row" style="height: 30%;">
                <div class="col-xl-5" id="samp">
                    <h6 id="itemLabel">{{product.name}}</h6>
                    <h6 id="itemLabel1">php. {{product.price}}</h6>
                </div>
                <div class="col-xl-7" id="samp">
                    <button type="button" class="btn btn-success" id="buttons" style="width: 100%;" routerLink="/login">
                        ADD TO CART
                        <i class="material-icons prefix">add_shopping_cart</i></button>
                    <h6 id="stocks">No. of stocks {{product.quantity}}</h6>
                </div>
            </div>
          </div>
        </div>
    </div>
  
  
  
   